{% load static %}
{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width" name="viewport"/>
  <meta content="2" name="next-head-count"/>
  <link as="style" href='{% static "/_next/static/css/d08fb802bea9bebb.css" %}' rel="preload"/>
  <link data-n-g="" href='{% static "/_next/static/css/d08fb802bea9bebb.css" %}' rel="stylesheet"/>
  <noscript data-n-css="">
  </noscript>
  <script defer="" nomodule="" src='{% static "/_next/static/chunks/polyfills-5cd94c89d3acac5f.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/chunks/webpack-53fc58caf00fef0e.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/chunks/framework-4556c45dd113b893.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/chunks/main-6dfdacc79861396c.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/chunks/pages/_app-5eb18ba00e54fb33.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/chunks/pages/cart-dd19513b02d92cf7.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/W_7VBfHYSIhduN7iFVfmg/_buildManifest.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/W_7VBfHYSIhduN7iFVfmg/_ssgManifest.js" %}'>
  </script>
  <script defer="" src='{% static "/_next/static/W_7VBfHYSIhduN7iFVfmg/_middlewareManifest.js" %}'>
  </script>
 </head>
 <body>
  <div id="__next">
   <div class="cart">
    <div class="cart_container">
     <div class="cart_head">
      <div>
       <a href="/">
        <img height="24px" src="/left-arrow.png" width="26px"/>
       </a>
      </div>
      <div class="cart_head__title">
       <span>
        Continue Shopping
       </span>
      </div>
      <div>
       <img height="26px" src="/delete.png" width="26px"/>
      </div>
     </div>
     <div class="cart_main">
      <div class="cart_main__products_view">
       <div class="cart_main__title_section">
        <h2>
         Confirm order and pay
        </h2>
        <div class="divider">
        </div>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, obcaecati.
        </p>
       </div>
       <div class="divider">
       </div>
       <div class="divider">
       </div>
       <div class="cart_main__produtcs_list">
        <h3>
         Bosh
        </h3>
       </div>
      </div>
      <div class="cart_main__products_order">
       <div>
        <h4>
         Payment Details
        </h4>
       </div>
       <div class="divider">
       </div>
       <p>
        Tolegin gornushini saylan
       </p>
       <div class="cart_order__pay">
        <div class="cart_order__pay_item bg_green">
         Nagt
        </div>
        <div class="cart_order__pay_item">
         Terminal
        </div>
       </div>
       <div class="divider">
       </div>
       <div class="divider">
       </div>
       <div class="cart_order__from">
        <p>
         Region
        </p>
        <select>
         <option class="select_item" value="Ashgabat">
          Ashgabat
         </option>
         <option class="select_item" value="Ahal">
          Ahal
         </option>
         <option class="select_item" value="Mary">
          Mary
         </option>
         <option class="select_item" value="Lebap">
          Lebap
         </option>
         <option class="select_item" value="Balkan">
          Balkan
         </option>
         <option class="select_item" value="Dashoguz">
          Dashoguz
         </option>
        </select>
        <div class="divider">
        </div>
        <p>
         Address
        </p>
        <input type="text"/>
       </div>
       <div class="divider">
       </div>
       <div class="divider">
       </div>
       <div>
        <h3>
         Harytlaryn jemi bahasy:
        </h3>
        <h3>
         Ertip bermek hyzmatyna:
        </h3>
        <h3>
         Gurnap bermek hyzmatyna:
        </h3>
       </div>
       <div class="divider">
       </div>
       <div class="divider">
       </div>
       <button class="button_pay" disabled="">
        By now 0
       </button>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script id="__NEXT_DATA__" type="application/json">
   {"props":{"pageProps":{}},"page":"/cart","query":{},"buildId":"W_7VBfHYSIhduN7iFVfmg","nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]}
  </script>
 </body>
</html>